<h1>Add Trackers</h1>
<h3>Follow what you care about on your feed by adding trackers.
</h3>
<h4>My Trackers</h3>
<table>
  <tbody>
    <% for @app in @care.apps -%>
      <tr><td><%= @app.app_list.name %></td><td><%= link_to "Edit", edit_care_app_path( @app, :care_id=>@care) %></td></tr> 
    <% end -%>
  </tbody>
</table>
<% for @app_list in @app_lists -%>
      <div class="row show-grid">
        <div class="span10">
          <div class="row show-grid">
            <div class="span8">
              <h3><%= @app_list.name %></h3> 
            </div>
            <div class="span2">
              <%= link_to "Add", care_apps_path(:app_list_id=>@app_list, :care_id=>@care), :method=>:create %> 
        </div>
      </div>
        <div class="row">
          <div class="span6 offset1">
            <%= @app_list.description %> 
   </div>
  </div>
  </div>
  </div>
<% end -%>
